
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* CSS for gallery page */
.top-images {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.img-top {
    width: 350px;
    height: 466px;
    object-fit: cover;
}

.buttom-images {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.img-buttom {
    height: 466px;
    width: 541px;
    object-fit: cover;
    margin-bottom: calc(2rem + 46px);
}

.gallery-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
    .top-images {
      flex-direction: column;
      align-items: center;
    }
    
    .buttom-images {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
  }

/* footer CSS*/
.container {
    max-width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
  }

ul {
    list-style: none;
}
.footer {
    background-color: #2E4159;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ea3b30;
    height: 2px;
    width: 50px;
}
.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #2E4159;
}

.social-links a:nth-child(1):hover {
    background-color: #316FF6; /* Facebook blue color */
}

.social-links a:nth-child(2):hover {
    background-color: #008AD8; /* Twitter blue color */
}

.social-links a:nth-child(3):hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); /* Instagram gradient color */
}

.social-links a:nth-child(4):hover {
    background-color: #0077b5; /* LinkedIn blue color */
}

/*CSS for imgbox*/
.heart-cases {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}

.box {
    display: flex;
    flex-direction: column;
}

.skrift-box {
    color: #363859;
}

.img-box {
    border-radius: 20px;
    object-fit: cover;
}

/* Navbar */
.navbar {

    overflow: hidden;
    width:100%;
    background-color: #262A40;
    display: flex;
}

.navbar span {
    align-self: center;
    padding-left: 3.5%;
    color: #f2f2f2;
    font-family: 'Dancing Script';
    font-weight: bolder;
    font-size: 1.75em;
    transform: rotate(-15deg);
}

.navbar div {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar div a {
    position: relative;
    height: 10%;
    align-self: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 24px;
    text-decoration: none;
    border-left: 4px solid #f2f2f2; 
    transition: transform 0.3s;
    font-size: 1em;

    font-family: 'Montserrat';
  }

.navbar div a:hover {
    transform: scale(1.05);
}

.navbar #logo {
    margin: 0;
    object-fit: contain;
    padding-left:40%;
    transform: translateX(-5%);
    padding-top:5px;
    padding-bottom: 5px;
  
}

/* madhavan.html */
#flex {

    display: flex;
    width: fit-content;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

.card {

    text-align: left;
    display: flex;
    padding-top: 1%;
    width:60%;
    height: 75%;
    justify-content: center;
    text-wrap: wrap balance;
    overflow-wrap: break-word;
}

.card #portrait {
    padding-right: 5%;
    border-radius: 6px;
    transform: scale(1.1);
}

.card .text {
    height: 50%;
    font-size: 1em;
    padding: 2.5%;
    text-wrap: wrap;
    background-color: rgba(231, 231, 231, 0.5);
    border-radius: 6px;
}

.card #header {
    font-size: 1.5em;
    border-bottom: 4px solid #262A40;
    transform: translateX(20vw);
}

.card #about {
    text-align: center;
    font-size: 1em;
    
}